@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"], input[type="number"] {
    border-radius: 3px;

    @apply border border-solid border-stone-50;
    @apply ring-plasma-blue/50;
    @apply px-2 py-1;
    @apply active:border-plasma-blue hover:border-plasma-blue focus:border-plasma-blue focus:ring;
}

input[type="submit"], button, .pokitoki-button {
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.125);
    text-shadow: 1px 1px #ffffff;

    @apply inline-block;
    @apply bg-gradient-to-b from-cloud-50 to-cloud-200 text-charcoal;
    @apply px-3 py-1;
    @apply border border-solid border-stone-50;
    @apply active:bg-none active:bg-plasma-blue/30 active:border-plasma-blue;
    @apply hover:border-plasma-blue focus:border-plasma-blue;
    @apply disabled:bg-none disabled:bg-cloud-200 disabled:border-stone-50 disabled:text-charcoal/50;
    @apply no-underline text-center;
}

.folder {
    max-height: 32rem;

    @apply flex flex-col;
    @apply w-full max-w-3xl;
    @apply h-full;
}

.folder-stack {
    @apply mx-4 md:my-4;
}

.folder-stack .folder {
    @apply md:absolute;
}

.folder-stack > * {
    @apply hidden md:flex;
}
.folder-stack > *:last-child {
    @apply block md:flex;
}

.folder-tab {
    margin-bottom: -1px;

    @apply w-fit bg-white px-4 py-2;
    @apply border border-stone-50 border-b-white rounded-t-lg z-50;
    @apply hidden md:flex;
}

.folder-content {
    @apply w-fit bg-white md:px-4 md:py-2 space-y-4;
    @apply md:border md:border-stone-50 rounded-b-lg rounded-tr-lg w-full z-40;
    @apply h-full;
}

.folder-nest {
    @apply md:mt-12 md:ml-6;
}

.breadcrumbs-bar {
    @apply flex flex-row px-8 py-4 items-center space-x-4 md:hidden;
}

input[type="submit"]:disabled, button:disabled, .pokitoki-button:disabled {
    text-shadow: none;
    box-shadow: none;
}

input[type="submit"]:active, button:active, .pokitoki-button:active {
    text-shadow: none;
    box-shadow: none;
}

.modal {
    display: none;
}
.modal.visible {
    display: initial;
    @apply fixed top-0 left-0 w-full h-full z-50 bg-charcoal-900/50 flex flex-col items-center pt-10 md:pt-40;
}
.modal-content {
    @apply bg-white p-8 rounded;
}
#form-errors {
    @apply my-6;
}
.form-error, .form-success {
    @apply px-4 py-2 border rounded;
}
.form-error p, .form-success p {
    @apply my-0;
}
.form-error {
    @apply border-red-500 bg-red-500/10;
}
.form-success {
    @apply border-lime-500 bg-lime-500/10;
}
